
    font-family: "Lora", serif;

    
            font-family: "Cormorant Garamond", serif;
            font-optical-sizing: auto;
            font-weight: 700;
            font-style: normal;
        }