* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

nav {
    margin: 0 auto 2rem;
    max-width: 200vw;
    display: flex;
}

.navigation {
    display: flex;
    justify-content: center;
    gap: 1rem;
    background-color: beige;
    padding: 1rem;
    color: blueviolet;
}