body {
    font-family: "Roboto", sans-serif;
    max-width: 640px;
    margin: 1rem auto;
    color: black;
}



header, main, footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid #bbb;
    background-color: rgb(120, 160, 240);
    padding: 1rem;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}
section {
    border: 1rem;
    background-color: aliceblue;
    padding: 1rem;
}